

# Server Configuration
PORT=3000

# Add more client configurations as needed
# CLIENT_NAME_ACCOUNT_SID=your_account_sid
# CLIENT_NAME_AUTH_TOKEN=your_auth_token
# CLIENT_NAME_VERIFY_SERVICE_ID=your_verify_service_id


# Credentials for test
test_ACCOUNT_SID=VA13
test_AUTH_TOKEN=AC5b2a427c6304d\
test_VERIFY_SERVICE_ID=06b1fd7006622c6d
